.hangmanRestartButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(87, 80, 192);
  color: white;
  transition: opacity 0.3s ease;
  margin: 0;
}

.hangmanRestartButton.disabled {
  opacity: 0.1;
  cursor: not-allowed;
}
