.hangmanKeyboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.hangmanKeyboardRow {
  display: flex;
  gap: 0.2rem;
}

.hangmanBtn {
  border: 3px solid black;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  text-transform: uppercase;
  padding: 0.5rem 0.7rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  transition: background-color 0.4s, color 0.4s, transform 0.4s;
}

.hangmanBtn.active {
  background-color: rgb(55, 28, 71);
  color: white;
  cursor: not-allowed;
}

.hangmanBtn.inactive {
  opacity: 0.3;
  cursor: not-allowed;
  background-color: rgb(87, 83, 83);
}

.hangmanBtn:hover:not(:disabled),
.hangmanBtn:focus:not(:disabled) {
  background-color: rgb(55, 28, 71);
}

@media (max-width: 370px) {
  .hangmanBtn {
    padding: 1px 1px !important;
    font-size: 10px;
    border: 2px solid black;
  }
}

@media (max-width: 700px) {
  .hangmanBtn {
    padding: 8px 8px !important;
    font-size: 12px !important;
    border: 1px solid black;
  }
}

@media (min-height: 880px) {
  .hangmanBtn {
    padding: 1rem 1.4rem;
  }
}

@media (max-width: 905px) {
  .hangmanBtn {
    padding: 15px 15px;
    font-size: 10px;
    border: 2px solid black;
  }
}
