.records-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgba(155, 126, 163, 0.5);
  backdrop-filter: blur(20px);
  border: 3px solid black;
  width: 50rem;
  height: 25rem;
  border-radius: 15px;
  /* justify-content: center; */
}

.select {
  margin: 0 auto;
  height: 2rem;
  width: 10rem;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
}

.select:hover {
}

.records-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.records-container li {
  border: 1px solid #555;
  list-style-type: none;
}
