.records-container {
  color: #fff;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #6a1b9a, #4a00e0);
}

.records-container td {
  border: 1px solid rgb(140, 90, 249);
}
