.login-container {
  display: flex;
  margin: auto;
  background-color: var(--main-color);
  backdrop-filter: blur(20px);
  border: 3px solid black;
  width: 50rem;
  height: 25rem;
  border-radius: 15px;
  justify-content: space-between;
}

.login-container form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 50px;
  background-color: var(--second-color);
  color: #fff;
}

.login-container input {
  width: 100%;
  padding: 1rem 2rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* visibility: hidden; */
}

.remember-me input[type='checkbox'] {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  gap: 1rem;
  cursor: pointer;
  background-color: #6272a4;
}

button[type='submit'] {
  width: 50%;
}

button:hover {
  background-color: #8b98c3;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #6272a4;
}

.title {
  margin: 0 auto 0.5rem;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 2.5rem;
}

.password-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #6272a4;
}

.password-icon:hover {
  color: #50fa7b;
}

.warningMSG {
  margin: auto;
  color: rgba(120, 30, 30, 1);
  text-shadow: -2px 1px 2px #000;
}

input {
  background-color: var(--main-color);
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input:focus {
  outline: none;
  border: 3px solid rgba(120, 30, 30, 1);
}

input:invalid {
  border: 3px solid rgba(120, 30, 30, 1);
  background-color: rgba(83, 27, 27, 0.8);
}

input:focus:invalid {
  outline: none;
  border: 5px solid transparent;
  border: 3px solid var(--main-color);
}

input:valid {
  border: 3px solid green;
  background-color: var(--main-color);
}
