body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/img/background-ultraMinimalist.png') no-repeat
    center center fixed;
  background-size: cover;
  overflow-x: hidden;
  height: 100%;
}

:root {
  --main-color: rgba(30, 30, 46, 0.9);
  --second-color: rgb(40, 42, 54);

  /* TiCTaCToe Colors*/

  --primary-blue: #008aff;
  --primary-azure: #38a3ff;
  --primary-orange: #ffaa00;
  --primary-white: #fff;
  --primary-bg-color: #0c2233;
  --secondary-bg-color: #0e2c42;
  --third-bg-color: #091a27;

  --input-placeholder: #325471;
  --special-color: #d6ecff;

  --ff-bold: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  margin: 0 10rem 2rem;
  border-radius: 30px;
  flex: 1;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h2 {
  font-family: 'Risque', cursive;
}

h3 {
  font-family: 'Madimi One', 'Rubik', sans-serif;
}

@media (max-width: 1024px) {
  .home {
    margin: 0 0.5rem 1rem;
  }
}
